include components/_mixins
include components/_social
include components/_form

<!DOCTYPE html>
html(lang='ru')
	head
		// Гугл аналитика 
		// Google Tag Manager
		<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=		'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);		})(window,document,'script','dataLayer','GTM-WBGV6T');</script>
		// End Google Tag Manager

		meta(charset='UTF-8')
		meta(http-equiv="X-UA-Compatible", content="IE=edge")
		meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0')
		|
		|
		meta(property="og:type" content="website")

		// Указываем ссылку на страницу
		meta(property="og:url" content="http://site.ru")
		// Название страницы для соц сетей
		meta(property="og:title" content="Название")
		// Превью страницы для соц сетей
		meta(property="og:image" content="http://site.ru/img/preview.jpg")
		|
		|
		// Путь до фавикона
		link(rel="shortcut icon" href="img/favicon/favicon.ico" type="image/x-icon") 
		link(rel="apple-touch-icon" href="img/favicon/apple-touch-icon.png")
		link(rel="apple-touch-icon" sizes="72x72" href="img/favicon/apple-touch-icon-72x72.png")
		link(rel="apple-touch-icon" sizes="114x114" href="img/favicon/apple-touch-icon-114x114.png")
		|
		|
		title Название
		|
		|
		link(rel='stylesheet', href='css/style.css')
		|
		|
		<!--[if lt IE 10]>
		p.browserupgrade Вы используете <strong>устаревший</strong> браузер.
			| Пожалуйста,  
			a(href="http://browsehappy.com/") обновите его до последней версии
			| , чтобы эта страница отображалась корректно.
		|
		<![endif]-->

	body

		// Google Tag Manager (noscript)
		<noscript><iframe src="https://www.googletagmanager.com/ns.ht...GV6T"; height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
		// End Google Tag Manager (noscript)

		// Прелоадер
		// .loader
		// 	svg.loader__img
		// 		use(xlink:href="#logo")

		// Тело
		.wrapper
		
			include components/_header
			
			.page

				section.main-s#main
					.container
						.main
							.main__title
								svg.main__title-svg
									use(xlink:href="#main-title")
							p.main__descr Увеличь прибыль за 1,5 месяца с помощью проверенных на деле бизнес-инструментов
							ul.main__list
								+main__item('Старт нового потока:','9 февраля')
								+main__item('Продолжительность:','6 недель')
								+main__item('Формат:','живое участие в зале в твоем городе или онлайн')
							button(type='button').btn.btn_scroll.main__btn Принять участие
							ul.main__picture
								li.main__slide.main__slide_1
									img.main__img(src="img/main/slide-1.png", alt="Солнце")
								li.main__slide.main__slide_2
									img.main__img(src="img/main/slide-2.png", alt="Горы")
								li.main__slide.main__slide_3
									img.main__img(src="img/main/slide-3.png", alt="Город")
								li.main__slide.main__slide_4
									img.main__img(src="img/main/slide-4.png", alt="Человек на мосту")
						
				section.suit-s
					.container
						.suit
							h2.title.suit__title «Долина» подойдет тому, кто:
							ul.suit__list
								.suit__subblock
									+suit__item('1','Хочет протестировать идею и создать уникальный продукт')
									+suit__item('2','Делает в бизнесе первые шаги или хочет совершить прорыв в действующем проекте')
									+suit__item('3','Развивает бизнес в любой сфере и нише')
								.suit__subblock
									+suit__item('4','Не знает, где найти деньги на развитие бизнеса')
									+suit__item('5','Застрял в одной точке развития и не знает, как пробить «стеклянный потолок»')
									+suit__item('6','Хочет эффективно управлять своим делом')
							.suit__buttons
								.suit__dots
								.suit__arrows.slider__arrows
							svg.suit-mountain
								use(xlink:href="#suit-mountain")
				
				section.target-s#target
					.container
						.target
							h2.title.target__title К чему ты придешь
							p.target__subtitle за 6 недель курса
							ul.target__list
								+target__item('Повысишь продажи и прибыль','1')
								+target__item('Упакуешь полноценный уникальный продукт','2')
								+target__item('Научишься привлекать инвестиции','3')
								+target__item('Создашь бизнес-план для будущего развития компании','4')
								+target__item('Увеличишь средний чек и маржу','5')
								+target__item('Изучишь и проанализируешь рынок','6')
								+target__item('Узнаешь, где искать клиентов и как их не упустить','7')
								+target__item('Разберешься в организационной структуре своего бизнеса','8')
							button(type='button').btn.btn_scroll.target__btn Принять участие
							//- svg.target-mechanism
							//- 	use(xlink:href="#target-mechanism")

				section.programm-s#programm
					.container
						.programm
							h2.title.programm__title Программа
							p.programm__descr Курс состоит из 6 занятий
							.programm__slider
								ul.programm__list-nav
									+programm__item-nav('01','Фундамент', '1').active
									+programm__item-nav('02','Первые деньги', '2')
									+programm__item-nav('03','Продукт', '3')
									+programm__item-nav('04','Инвестиции ', '4')
									+programm__item-nav('05','Продажи', '5')
									+programm__item-nav('06','Система. Команда. <br>Масштабирование', '6')
								ul.programm__list-block
									+programm__item-block('1', ['Выбрать нишу и поставить цель'],['Фундамент личности','Выбор ниши','Постановка цели','Система сбалансированных показателей','Пять элементов системы']).active
									+programm__item-block('2',['Изучить рынок, упаковать предложение и запустить каналы трафика.','Сделать первые продажи '], ['Целевая аудитория','Анализ рынка', 'Упаковка предложения', 'Лидогенерация', 'Первые деньги'])
									+programm__item-block('3',['Разработать полноценный продукт.','Просчитать экономику проекта.','Получить обратную связь от клиентов.'], ['Тестирование', 'Продуктовая матрица','Создание продукта', 'Лояльность клиентов', 'Экономика продукта', 'Развитие продукта'], true)
									+programm__item-block('4',['Научиться привлекать инвестиции в своей проект'], ['Виды финансирования','Мифы про инвестиции', 'Стадии развития проекта', 'Упаковка проекта', 'Поиск инвестора'])
									+programm__item-block('5',['Наладить воронку продаж'], ['Лидогенерация','Продажи', 'Цепочка касаний', 'Технологии продаж', 'Автоматизация'])
									+programm__item-block('6', ['Создать управляемую систему бизнес-процессов','Собрать команду.','Спланировать дальнейшее развитие компании.'],['Партнеры','Командообразование','Бизнес-процессы','Стратегия','Корпоративная культура','Жизнь после «Долины»'], true)
								.programm__buttons
									.programm__dots
									.programm__arrow.slider__arrows
							button(type='button').btn.btn_scroll.programm__btn Принять участие
			
				section.education-s#education
					.container
						.education
							h2.title.education__title Как проходит обучение
							.education__block
								.education__block-video
									video(width="100%" height="100%" preload="auto" controls controlslist="nodownload" autoplay muted poster="img/poster.jpg" ).education__video
										source(src="video/video.mp4", type="video/mp4")
										source(src="video/video.webm", type="video/webm")
								.education__block-text.aside-block
									p.education__text.education__text_up.education__text_bold Занятия «Долины» проходят по субботам.
									p.education__text Начало регистрации — 7:00 МСК. Начало занятия — 8:00 МСК. Продолжительность занятия — 8 часов.
								.education__subblock.education__subblock_first
									svg.education__icon
										use(xlink:href="#education-1")
									p.education__text Участники делятся на команды, в которых помогают друг другу своим опытом и связями.
								.education__subblock
									svg.education__icon
										use(xlink:href="#education-2")
									p.education__text В каждой команде есть лидер, который следит за успехами команды и не дает отступить назад.
								.education__subblock
									svg.education__icon
										use(xlink:href="#education-3")
									p.education__text
										span.education__text_bold Возможно онлайн-обучение, 
										span если в твоем городе нет представительства компании.

				section.homework-s
					.container
						.homework
							p.homework__subtitle Так выглядят домашние задания
							.homework__block
								.homework__block-slider
									ul.homework__slider
										- for (var i=1; i<=10; i++)
											li.homework__item
												img(src="img/homework/hw-"+[i]+".jpg", alt="homework").homework__item-img
									.homework__buttons
										.homework__dots
										.homework__arrows.slider__arrows
										
								.homework__block-text.aside-block
									p.homework__text Ежедневно ты будешь прорабатывать одну из тем текущего модуля. 
									p.homework__text Задания проверяют эксперты — действующие предприниматели, который проходили «Долину». Они дадут оценку твоей работе и дальнейшие рекомендации.
								button(type='button').btn.btn_scroll.homework__btn Принять участие

				section.speaker-s#speaker
					.container
						.speaker
							.speaker__block
								.speaker__block-text
									h2.title.speaker__title Спикер
									p.speaker__name Аяз Шабутдинов
									ul.speaker__list
										li.speaker__item В 2013 году вложил в стартап Coffee Like 65 000 рублей, <br>а в 2018 продал компанию за 200 000 000 рублей. 
										li.speaker__item Серийный предприниматель и инвестор. 
										li.speaker__item Полуфиналист школы молодого миллиардера Forbes.
										li.speaker__item Номинант премии «Стартап года» РБК.
									.speaker__block-comp
										p.speaker__text-subtitle Основные компетенции

										ul.speaker__list-vert
											li.speaker__item-vert
												svg.speaker__icon
													use(xlink:href="#speaker-1")
												p.speaker__text Привлечение инвестиций
											li.speaker__item-vert
												svg.speaker__icon
													use(xlink:href="#speaker-2")
												p.speaker__text Запуск бизнеса <br>с нуля.
											li.speaker__item-vert
												svg.speaker__icon
													use(xlink:href="#speaker-3")
												p.speaker__text Командообразование.
										button(type='button').btn.btn_scroll.speaker__btn Принять участие
								.speaker__block-img
									img(src="img/speaker.jpg", alt="Спикер").speaker__img

				section.result-s#result
					.container
						.result
							h2.title.result__title Результаты <br>участников курса
							.result__block
								svg.result__svg
									use(xlink:href="#result-svg")
								ul.result__slider
									+result__item(1, 'Элеонора Лескина,', ' Сочи', 'Инвестиционно-консалтинговая группа KPI', '0', '477 700', 'Что сделала Элеонора', 'Сформировала продукт.','Обратилась за помощью к наставникам.','Создала команду. ')
									+result__item(2, 'Наталья Шарова,',' Москва', 'Спортивная одежда BodyBend', '18 000', '233 300', 'Что сделала Наталья', 'Подобрала сильную команду.','Создала новую коллекцию, изменила целевую аудиторию. ','Пересмотрела краткосрочную стратегию. ')
									+result__item(3, 'Отабек Фатхуллаев,', ' Ташкент', 'Текстиль, производство этикеток и шевронов на одежду', '0', '800 000', 'Что сделал Отабек', 'Нанял ассистента и делегировал ему задачи.','Увеличил объем производства и продаж.','Внедрил трехсменный график работы.')
									+result__item(4, 'Дмитрий Щерба, ','Новороссийск', 'Инвестиции в недвижимость', '120 000', '458 000', 'Что сделал Дмитрий', 'Привлек три крупных агентства и делегировал обязанности.','Проанализировал конкурентов. ','Использовал технологии дожима по максимуму.')
									+result__item(5, 'Ирина Кузнецова, ', 'Гагарин', 'Детские товары «Лео»', '300 000 ', '3 000 000', 'Что сделала Ирина', 'Составила портрет покупателя.','Определила точку роста.','Наняла маркетолога и запустила рекламу товаров.')
									+result__item(6, 'Мария Кленовская, ','Екатеринбург', 'Академия по наращиванию ресниц', '46 800', '400 000', 'Что сделала Мария', 'Провела опросы по всем своим продуктам, высчитала NPS.','Выпустила новые продукты.','Поняла, как закрыть больше потребностей целевой аудитории.')
									+result__item(7, 'Николай Брагин, ', 'Самара', 'Инвестиции. Финансовый дисциплинатор', '20 000', '200 000', 'Что сделал Николай', 'Ввел 10 обязательных продаж.','Проанализировал стратегию пути из точки А в точку Б.','Сформировал команду и внедрил корпоративную культуру.')
								.result__buttons
									.result__dots
									.result__arrows.slider__arrows
 
				section.numb-s
					.container
						.numb
							ul.numb__list
								li.numb__item
									.numb__img
										svg.numb__icon
											use(xlink:href="#numb-1")
									p.numb__subtitle Более 22 000 учеников
									p.numb__descr уже прошли курс «Долина»
								li.numb__item
									.numb__img
										svg.numb__icon
											use(xlink:href="#numb-2")
									p.numb__subtitle 70% — средний NPS
									p.numb__descr за последние три потока курса «Долина»
								li.numb__item
									.numb__img
										svg.numb__icon
											use(xlink:href="#numb-3")
									p.numb__subtitle Мы вернем деньги,
									p.numb__descr если после выполнения всех заданий и регулярного посещения занятий ты не достигнешь результата

				section.packet-s#packet
					.container
						.packet
							img(src="img/serfer.jpg", alt="Серфер").packet__img
							h2.title.packet__title Пакеты участия
							ul.packet__list
								li.packet__item
									.packet__item-top
										p.packet__subtitle Стандарт
									.packet__item-middle
										ul.packet__sublist
											+packet__subitem('packet-1','6 занятий по 8 часов')
											+packet__subitem('packet-2','Практические задания — возможность зарабатывать уже во время курса')
											+packet__subitem('packet-3','Ежедневные домашние задания')
											+packet__subitem('packet-4','Работа в команде из 10 человек с куратором')
										.packet__price
											.packet__price-block
												p.packet__price-numb 55 990  рублей
												p.packet__descr.packet__price-descr Москва, личное участие
											.packet__price-block
												p.packet__price-numb 44 990  рублей
												p.packet__descr.packet__price-descr Регионы, личное участие и онлайн-просмотр
											
											
									.packet__item-bottom
										button(type='button').btn.btn_scroll.packet__btn Принять участие

								li.packet__item
									.packet__item-top
										p.packet__subtitle Премиум
									.packet__item-middle
										ul.packet__sublist
											+packet__subitem('packet-5','Пакет «Стандарт» +')
											+packet__subitem('packet-6','Возможность привести одного компаньона на каждое занятие')
											+packet__subitem('packet-7','Места в первых рядах для тебя и твоего компаньона')
											+packet__subitem('packet-9','Разбор твоего бизнеса наставником')
											+packet__subitem('packet-8','Консультации с бизнес-наставником на протяжении всего курса')
										.packet__price
											.packet__price-block
												p.packet__price-numb 124 990  рублей
												p.packet__descr.packet__price-descr Москва, личное участие
											.packet__price-block
												p.packet__price-numb 77 990  рублей
												p.packet__descr.packet__price-descr Регионы, личное участие и онлайн-просмотр
											
											
									.packet__item-bottom
										button(type='button').btn.btn_scroll.packet__btn Принять участие

				section.benefit-s
					.container
						.benefit
							h2.title.benefit__title Узнай самую выгодную цену
							ul.benefit__nav
								li.benefit__nav-item(data-target="1").active Стандарт
								li.benefit__nav-item(data-target="2") Премиум
							.benefit__block
								.benefit__block-discont
									ul.benefit__list
										+benefit__item('Ты являешься партнером Coffee Like, Like Hostel, SAHAR&VOSK', '30%')
										+benefit__item('Тебе меньше 18', '10%')
										+benefit__item('Ты уже проходил «Долину» и хочешь пройти повторный курс', '50%')
										+benefit__item('Вы семейная пара? Получи скидку на второй курс', '50%')
										+benefit__item('Ты являешься франчайзи Like Центра', 'бесплатно')

								.benefit__block-total(data-target="1").active
									.benefit__subblock
										p.benefit__descr Цена Стандарт
										p.benefit__price
											span.benefit__price-old 55 990 
											| рублей 
									.benefit__subblock
										p.benefit__descr Цена со скидкой
										p.benefit__price.benefit__price_color
											span.benefit__price-new 0 
											| рублей 
								.benefit__block-total(data-target="2")
									.benefit__subblock
										p.benefit__descr Цена Премиум
										p.benefit__price
											span.benefit__price-old 124 990 
											| рублей 
									.benefit__subblock
										p.benefit__descr Цена со скидкой
										p.benefit__price.benefit__price_color
											span.benefit__price-new 0 
											| рублей 
							button(type='button').btn.btn_scroll.benefit__btn Принять участие
				
				section.form-s#form
					.container
						+form("Оставить заявку", 'Твой бизнес может больше. Докажи это.')

				section.address-s
					.container
						.address
							h2.address__title Адрес мероприятия
							.address__box
								.address__block
									p.address__text Выбрать город
									.address__select.dropdown
										p.dropdown__text Выберите город
										svg.dropdown__select
											use(xlink:href="#select")
										ul.dropdown__field
											li.dropdown__item.address__item(data-address="ул. Ленина, 32") Москва
											li.dropdown__item.address__item(data-address="ул. Серова, 56") Казань
											li.dropdown__item.address__item(data-address="ул. Кировоградская, 137") Екатеринбург
											li.dropdown__item.address__item(data-address="ул. Пушкина, 41") Санкт-Петербург

								.address__block_float
									svg.address__icon
										use(xlink:href="#packet-7")
									p.address__place
										span.address__place_city Москва, 
										span.address__place_street Golden Palace, 3-я Ямского Поля ул. 15
								
								a(href="http://likecentre.ru/" title="Другие программы Like Центра").address__link Узнать о других программах и мероприятиях Like Центра
									
								+social.address__social

							
								a(href="#main", title="Вверх").address__arrtop
									svg().address__arrtop-icon
										use(xlink:href="#arrUp")
		
		include components/_modal

		// Минифицированные jquery и slick slider
		script(type='text/javascript', src='js/libs.min.js')
		// Скрипт загрузки svg на страницу
		script(type='text/javascript', src='js/localStorage.js')
		// Основной файл с скриптами
		script(type='text/javascript', src='js/main.js')
	