mixin social__item(item, link)
	li.social__item
		a(href=link, target="_blank").social__link
			svg(width="20px" height="20px").social__svg
				use(xlink:href="#" + item)

mixin social
	ul.social&attributes(attributes)
		+social__item('yt','https://www.youtube.com/channel/UCLJEzGSxaSiTpPLWKwPZerw')
		+social__item('in','https://www.instagram.com/like_center_/')
		+social__item('vk','https://vk.com/likefamily1')
		+social__item('fb','https://www.facebook.com/likefamily1/')